body {
    overflow-y: scroll;
}

h2.accordion-header .accordion-button {
    font-weight: bold;
}

.paragraphs p:hover {
    color: #6ea8fe;
}

.css-div {
    color: #d63384;
    text-align: center;
}

.css-div p {
    font-size: 20px;
}
