{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped">

        <thead>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Total</th>
            <th class="text-center">Actions</th>
        </thead>

        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <td class="text-start">{{ stock['symbol'] | upper }}</td>
                    <td class="text-end">{{ stock['shares'] }}</td>
                    <td class="text-end">{{ stock['price'] | usd }}</td>
                    <td class="text-end">{{ stock['total'] | usd }}</td>

                    <td class="text-center">
                        <div class="btn-group">
                            <form action="/buy" method="get" style="margin-right: 5px;">
                                <input type="hidden" name="symbol" value="{{ stock['symbol'] }}">
                                <button type="submit" class="btn btn-sm btn-primary">Buy</button>
                            </form>
                            <form action="/sell" method="get">
                                <input type="hidden" name="symbol" value="{{ stock['symbol'] }}">
                                <button type="submit" class="btn btn-sm btn-warning">Sell</button>
                            </form>
                        </div>
                    </td>

                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total | usd }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
