{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <td>Symbol</td>
            <td>Shares</td>
            <td>Price</td>
            <td>Total</td>
        </thead>
        <tbody>
            {% for symbol in portfolio %}
                <tr>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
