{% extends "layout.html" %}

{% block title %}
    Quotes
{% endblock %}

{% block main %}
    <div class="d-inline-block">
        <table class="table table-auto">
            <colgroup>
                <col style="min-width: 150px;">
                <col style="min-width: 150px;">
                <col style="min-width: 150px;">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">price</th>
                    <th scope="col">symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for value in quote.values() %}
                        <td>
                            {{ value }}
                        </td>
                    {% endfor %}

                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}