{% extends "layout.html" %}

{% block title %}
    Quotes
{% endblock %}

{% block main %}
    TODO:<br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">price</th>
                <th scope="col">symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for value in quote.values() %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}

            </tr>
        </tbody>
    </table>
{% endblock %}
